<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.upmfgrenoble.wicproject" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >

        <!-- Clé Google Map -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC-SV3SQqmnXEfLCVPIATXuWo5vDa9l7yY" />

        <!-- Affichage d'une trace sur une map à partir d'un fichier .gpx -->
        <activity
            android:name=".ui.MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>

        <!-- Test pour la détection des pas -->
        <activity android:name="fr.upmfgrenoble.wicproject.pdr.CheminParcouruMapsActivity"
            android:label="@string/title_activity_chemin_parcouru_maps">
        </activity>

        <!-- Application complète -->
        <activity android:name="fr.upmfgrenoble.wicproject.ui.AppActivity"
            android:label="@string/title_activity_app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
